apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "proxy-relay.fullname" . }}
  labels:
{{ include "proxy-relay.labels" . | indent 4 }}
data:
  httpd.conf : |-

    ServerRoot "/usr/local/apache2"

    Listen 80

    LoadModule mpm_event_module modules/mod_mpm_event.so
    LoadModule authn_file_module modules/mod_authn_file.so
    LoadModule authn_core_module modules/mod_authn_core.so
    LoadModule authz_host_module modules/mod_authz_host.so
    LoadModule authz_groupfile_module modules/mod_authz_groupfile.so
    LoadModule authz_user_module modules/mod_authz_user.so
    LoadModule authz_core_module modules/mod_authz_core.so
    LoadModule access_compat_module modules/mod_access_compat.so
    LoadModule auth_basic_module modules/mod_auth_basic.so
    LoadModule watchdog_module modules/mod_watchdog.so
    LoadModule reqtimeout_module modules/mod_reqtimeout.so
    LoadModule filter_module modules/mod_filter.so
    LoadModule xml2enc_module modules/mod_xml2enc.so
    LoadModule proxy_html_module modules/mod_proxy_html.so
    LoadModule mime_module modules/mod_mime.so
    LoadModule log_config_module modules/mod_log_config.so
    LoadModule env_module modules/mod_env.so
    LoadModule headers_module modules/mod_headers.so
    LoadModule setenvif_module modules/mod_setenvif.so
    LoadModule version_module modules/mod_version.so
    LoadModule proxy_module modules/mod_proxy.so
    LoadModule proxy_connect_module modules/mod_proxy_connect.so
    LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
    LoadModule proxy_http_module modules/mod_proxy_http.so
    LoadModule proxy_fcgi_module modules/mod_proxy_fcgi.so
    LoadModule proxy_scgi_module modules/mod_proxy_scgi.so
    LoadModule proxy_uwsgi_module modules/mod_proxy_uwsgi.so
    LoadModule proxy_fdpass_module modules/mod_proxy_fdpass.so
    LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so
    LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
    LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
    LoadModule proxy_express_module modules/mod_proxy_express.so
    LoadModule proxy_hcheck_module modules/mod_proxy_hcheck.so
    LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
    LoadModule unixd_module modules/mod_unixd.so
    LoadModule status_module modules/mod_status.so
    LoadModule autoindex_module modules/mod_autoindex.so
    LoadModule dir_module modules/mod_dir.so
    LoadModule alias_module modules/mod_alias.so
    LoadModule ssl_module modules/mod_ssl.so
    {{- if .Values.luaHandlers }}
    LoadModule lua_module modules/mod_lua.so

    <Files "handlers.lua">
      SetHandler lua-script
    </Files>
    {{- end}}

    <IfModule unixd_module>
      User daemon
      Group daemon
    </IfModule>

    ServerAdmin you@example.com

    <Directory />
      AllowOverride none
      Require all denied
    </Directory>

    DocumentRoot "/usr/local/apache2/htdocs"
    <Directory "/usr/local/apache2/htdocs">
      Options Indexes FollowSymLinks
      AllowOverride None
      Require all granted
    </Directory>

    <IfModule dir_module>
      DirectoryIndex index.html
    </IfModule>

    <Files ".ht*">
    Require all denied
    </Files>

    ErrorLog /proc/self/fd/2

    LogLevel warn

    <IfModule log_config_module>
      #LogFormat "%v:%p %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %T %D" vhost_combined
      LogFormat "{ \
          \"@timestamp\": \"%{%Y-%m-%dT%H:%M:%S%z}t\", \
          \"@version\": \"1\", \
          \"message\": \"%h %l %u %t \\\"%r\\\" %>s %b\", \
          \"url\": \"%V\", \
          \"clientip\": \"%a\", \
          \"duration\": %D, \
          \"status\": %>s, \
          \"request\": \"%U%q\", \
          \"urlpath\": \"%U\", \
          \"urlquery\": \"%q\", \
          \"bytes\": %B, \
          \"method\": \"%m\", \
          \"referer\": \"%{Referer}i\", \
          \"useragent\": \"%{User-agent}i\" \
         }" vhost_combined

      SetEnvIf Request_URI "^/server-status$" nologging
      <IfModule logio_module>
        LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
      </IfModule>
      CustomLog /proc/self/fd/1 vhost_combined env=!nologging
    </IfModule>

    <IfModule alias_module>
      ScriptAlias /cgi-bin/ "/usr/local/apache2/cgi-bin/"
    </IfModule>

    <Directory "/usr/local/apache2/cgi-bin">
      AllowOverride None
      Options None
      Require all granted
    </Directory>

    <IfModule headers_module>
      RequestHeader unset Proxy early
    </IfModule>

    <IfModule mime_module>
      TypesConfig conf/mime.types
      AddType application/x-compress .Z
      AddType application/x-gzip .gz .tgz
    </IfModule>

    <IfModule proxy_html_module>
      Include conf/extra/proxy-html.conf
    </IfModule>

    <IfModule ssl_module>
      SSLRandomSeed startup builtin
      SSLRandomSeed connect builtin
    </IfModule>

  handlers.lua: |-
    -- all methods handlers
    {{ .Values.luaHandlers | indent 4 }}

  proxy-html.conf: |-
    <VirtualHost *:80>

      ProxyRequests Off
      ProxyVia Off

      SSLProxyEngine on

      ProxyPass /server-status !
      {{- if .Values.proxyUrl }}
      ProxyRemote * {{ .Values.proxyUrl }}
      {{- end}}

      {{- if .Values.remoteUrl }}
      ProxyPass / {{ .Values.remoteUrl }}
      ProxyPassReverse / {{ .Values.remoteUrl }}

      <Proxy *>
        AllowOverride None
        Order deny,allow
        Allow from all
      </Proxy>
    {{- end}}
      <Location /server-status>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from all
      </Location>
    </VirtualHost>
    {{- range .Values.additionnalReverseProxyServices }}
    <VirtualHost *:80>

      ServerAlias {{ .name }}*
      ProxyRequests Off
      ProxyVia Off

      SSLProxyEngine on

      ProxyPass /server-status !
    {{- if .proxyUrl }}
      ProxyRemote * {{ .proxyUrl }}
    {{- end}}

    {{- range .lua }}
      {{ .directive }} handlers.lua {{ .functionName }} {{ .parameters }}
    {{- end}}

      ProxyPass / {{ .remoteUrl }}
      ProxyPassReverse / {{ .remoteUrl }}

      <Proxy *>
        AllowOverride None
        Order deny,allow
        Allow from all
      </Proxy>

      <Location /server-status>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from all
      </Location>
    </VirtualHost>
    {{- end }}
