#podDisruptionBudget:
#  minAvailable: 1

livenessProbe:
  httpGet:
    path: /actuator/health
    port: http
  initialDelaySeconds: 10
readinessProbe:
  httpGet:
    path: /actuator/health
    port: http
  initialDelaySeconds: 10

